/* reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  border: 2px solid transparent;

  &::before {
    position: absolute;
    top: -23px;
    left: -2px;
    max-width: 100px;
    height: 23px;
    font-size: 16px;
    padding: 0 5px;
    color: white;
  }
}

html {
  border-color: gray;
}

body {
  margin: 20px;
  padding: 50px 100px;
  border-color: black;

  &::before {
    content: "body";
    background-color: black;
  }
}

div {
  border-color: red;

  &::before {
    content: "div";
    background-color: red;
  }
}

h1 {
  border-color: green;

  &::before {
    content: "h1";
    background-color: green;
  }
}

p {
  border-color: blue;

  &::before {
    content: "p";
    background-color: blue;
  }
}
