<!DOCTYPE html>
<html lang="ja">
  <head>
    <%- include(`${appHome}/view/partial/_head`) %>
    <link rel="stylesheet" href="../assets/css/compare_code.css">
  </head>

  <body>
    <div><%= message %></div>
  </body>
</html>