<!DOCTYPE html>
<html lang="ja" class="ly_showContainer">
  <head>
    <%- include(`${appHome}/view/partial/_head`) %>
    <link rel="stylesheet" href="../assets/css/compare_code.css">
  </head>

  <body class="un_body">
    <div class="un_div">
      <h1 class="un_h1">
        コード比較
      </h1>

      <p class="un_p">
        <%= message %>
      </p>
    </div>
  </body>
</html>