<!DOCTYPE html>
<html lang="ja">
  <head>
    <%- include(`${appHome}/view/partial/_head`) %>
    <link rel="stylesheet" href="../assets/css/compare_code.css">
  </head>

  <body>
    <div>
      <h1>コード比較</h1>
      <p>
        <%= message %>
      </p>
    </div>
  </body>
</html>